@media (max-width: 62em) {
  /* Your styles for large devices go here */

  /**
  * General
  */
  body {
    line-height: 1.16;
  }

  /**
  * Header
  */

  .main-nav {
    display: none;
  }
  .btn-mobile-nav {
    display: block;
  }

  /**
  * Hero 
  */
  .hero-text-box {
    min-width: 100%;
  }

  /**
  * FEATURES SECTION
  */

  .marketing-container {
    grid-template-columns: 1fr;
  }
  .marketing-img {
    display: none;
  }

  .marketing-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
  }
}

@media (max-width: 48em) {
  /**
  * General
  */
  body {
    line-height: 1.32;
  }

  /**
  * Hero
  */

  .hero {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .heading-primary {
    font-size: 3.4rem;
    line-height: 1.2;
  }

  .hero-img-box {
    width: 50%;
    margin-left: auto;
  }

  .hero-text-box {
    padding: 6.4rem 5.12rem 0 5.12rem;
    margin-bottom: 0;
  }

  /**
  * FEATURES SECTION
  */
  .features-section-header {
    flex-direction: column;
    gap: 3.2rem;
  }

  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .marketing-features {
    flex-direction: column;
  }
}

@media (max-width: 36em) {
  /* Your styles for small devices go here */
  /**
  * General
  */

  body {
    line-height: 1.5;
  }

  /**
  * FEATURES SECTION
  */
  .features-container {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .feature-item {
    align-items: center;
    text-align: center;
  }
}
