/* ------------------------------------------------------------*\
 #Media query for screens with width less than or equal to 62em
\*-------------------------------------------------------------*/

@media (max-width: 62em) {
  /**
  * General styles for large devices
  */

  body {
    line-height: 1.16;
  }

  .container {
    padding: 7.5rem 8rem 8.5rem;
  }

  .tag {
    margin: 0;
  }

  /**
  * Header
  */

  .main-nav {
    /* Hide main navigation */
    display: none;
  }

  .btn-mobile-nav {
    /* Show mobile navigation button */
    display: block;
  }

  /**
  * Hero 
  */
  .hero-text-box {
    min-width: 100%;
  }

  /**
  * FEATURES SECTION
  */

  .marketing-container {
    grid-template-columns: 1fr;
  }
  .marketing-img {
    /* Hide marketing image */
    display: none;
  }

  .marketing-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
  }

  /**
  * discover section
  */

  .discover-features {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .discover-box-img {
    align-self: center;
  }

  .discover-img {
    margin: 0 auto;
    display: block;
  }

  .features-box {
    margin-bottom: 3.2rem;
  }

  /**
  * pricing-section
  */

  .testimonial {
    flex-direction: column;

    gap: 3rem;

    padding: 4rem 2rem;
  }

  .testimonial-text {
    font-size: 1.2rem;
  }

  .testimonial-name {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .testimonial-job {
    font-size: 1rem;
  }

  .testimonial-picture {
    width: 80%;
  }

  testimonial-rating-number {
    font-size: 1rem;
  }

  .testimonial-body {
    align-items: center;
    text-align: center;
  }

  .platforms-gallery {
    padding: 0;
  }

  /**
  * FOOTER
  */

  .footer {
    padding: 8rem 8rem 6.4rem;
  }

  .main-footer {
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 6.4rem;
  }
}

/* ------------------------------------------------------------*\
 #Media query for screens with width less than or equal to 48em
\*-------------------------------------------------------------*/

@media (max-width: 48em) {
  /**
  * General
  */

  body {
    line-height: 1.32;
  }

  .container {
    padding: 7.5rem 6.4rem 8.5rem;
  }

  .heading-secondary {
    font-size: 2.5rem;
  }

  .text-align {
    text-align: center;
  }

  .slides-controls {
    display: none;
  }

  /**
  * Hero
  */

  .hero {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .heading-primary {
    font-size: 3.4rem;
    line-height: 1.2;
  }

  .hero-img-box {
    width: 40%;
    margin-left: auto;
  }

  .hero-text-box {
    padding: 6.4rem 5.12rem 0 5.12rem;
    margin-bottom: 0;
  }

  /**
  * FEATURES SECTION
  */

  .features-section-header {
    flex-direction: column;
    gap: 3.2rem;
  }

  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .marketing-features {
    flex-direction: column;
  }

  /**
  * statistics section
  */

  .learn-how {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 3.2rem;
  }

  /**
  * pricing-section
  */

  .pricing-container {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  .testimonial-footer {
    justify-content: center;
  }

  /**
  * FOOTER
  */

  .footer {
    padding: 8rem 6.4rem 6.4rem;
  }

  .main-footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-us {
    width: auto;
  }

  .social-links {
    justify-content: center;
  }

  .copyright-footer {
    flex-direction: column;
    padding-top: 0;
  }
}

/* ------------------------------------------------------------*\
 #Media query for screens with width less than or equal to 36em
\*-------------------------------------------------------------*/

@media (max-width: 36em) {
  /**
  * General
  */

  body {
    line-height: 1.5;
  }

  .app-btn-default--bg {
    font-size: 1.4rem;
  }
  .app-btn-default-log {
    font-size: 2rem;
  }
  .btn-default {
    transform: scale(80%);
  }

  /**
  * HERO SECTION
  */

  .hero-section {
    margin-top: 5rem;
  }

  /**
  * FEATURES SECTION
  */

  .features-container {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .feature-item {
    align-items: center;
    text-align: center;
  }

  .statistics-numbers-box {
    flex-direction: column;
    align-items: stretch;
  }

  /**
  * DISCOVER SECTION
  */
  .discover-features {
    justify-items: start;
  }

  /**
  * pricing-section
  */

  .testimonial {
    padding: 2rem;
  }
  .marketing-container {
    height: auto;
    padding: 1rem 1rem 0;
  }
}
